label{
    position: relative;
    display: block;
    margin: 0.5rem;
}

label input{
    margin-right: 2rem;
    font-size: 1.25rem;
}

.invalid-input{
    display: none;
    border: 3px outset red;
    position: absolute;
    right: 0;
    top: -3px;
    border-radius: 3px;
    padding: 0.125rem;
}