:root{
    --bar-title-height: 1.85rem;
}

#pages{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: var(--footer-height);
    overflow: auto;
}

.page{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.page:not(:last-child){
    display: none;
}

.close-button{
    position: absolute;
    right: 0;
    top: 0;
}

.content-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bar{
    position: absolute;
    top: 0;
    bottom: 0;
}

    .left-bar{
        left: 0;
        border-right: 3px ridge white;
    }

    .right-bar{
        right: 0;
        border-left: 3px ridge white;
    }

    .bar-title{
        text-align: center;
        font-size: 1.5rem;
        border-bottom: 3px ridge white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: var(--bar-title-height);
    }

    .bar-content{
        position: absolute;
        top: var(--bar-title-height);
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
    }

        .bar-container{
            border: 1px solid white;
            border-radius: 5px;
            margin: 0.5rem;
        }

            .bar-container-header{
                text-align: center;
                border-bottom: 1px solid white;
                font-size: 1.5rem;
            }

            .bar-list-item{
                border: 2px solid green;
                margin: 0.25rem;
                padding: 0.125rem;
                position: relative;
                font-size: 1.25rem;
            }

                .bar-list-item .close-button{
                    border-width: 1px;
                    margin: 0.125rem;
                    padding: 0;
                    font-weight: bold;
                    font-size: 1.125rem;
                    width: 1rem;
                    height: 1.25rem;
                }