:root{
    --star-view-container-header-height: 2.5rem;
    --star-view-side-bar-width: 20rem;
    --surface-table-cell-size: 7.5vw;
    --min-surface-table-cell-size: 75px;
}

.star-view-header{
    position: absolute;
    height: var(--star-view-container-header-height);
    right: 0;
    left: 0;
    top: 0;
    overflow: auto;
    border-bottom: 3px ridge white;
}

    .star-view-header h2{
        text-align: center;
    }

.surface-table-container{
    position: absolute;
    top: var(--star-view-container-header-height);
    right: var(--star-view-side-bar-width);
    left: var(--star-view-side-bar-width);
    bottom: 0;
    overflow: auto;
}

    .surface-table{
        margin: auto;
        white-space: nowrap;
    }

        .surface-table-cell{
            border: 1px solid transparent;
            width: var(--surface-table-cell-size);
            height: var(--surface-table-cell-size);
            min-width: var(--min-surface-table-cell-size);
            min-height: var(--min-surface-table-cell-size);
            position: relative;
            display: inline-block;
            background-position: center;
            background-size: cover;
        }

            .surface-type-coal{
                background-image: url("/images/surface/coal.jpg");
            }

            .surface-type-concrete{
                background-image: url("/images/surface/concrete.jpg");
            }

            .surface-type-desert{
                background-image: url("/images/surface/desert.jpg");
            }

            .surface-type-forest{
                background-image: url("/images/surface/forest.jpg");
            }

            .surface-type-lake{
                background-image: url("/images/surface/lake.jpg");
            }

            .surface-type-mountain{
                background-image: url("/images/surface/mountain.jpg");
            }

            .surface-type-oil-field{
                background-image: url("/images/surface/oil-field.jpg");
            }

            .surface-type-ore-mine{
                background-image: url("/images/surface/ore-mine.jpg");
            }

            .surface-type-vulcan{
                background-image: url("/images/surface/vulcan.jpg");
            }

        .surface-table-cell:hover{
            border-color: red;
        }

            .surface-content{
                background-color: rgba(0,0,0,0.65);
                opacity: 0.75;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-position: center;
                background-size: cover;
            }

            .surface-content.building-battery{
                background-image: url("/images/building/battery.png");
            }

            .surface-content.building-camp{
                background-image: url("/images/building/camp.png");
            }

            .surface-content.building-depot{
                background-image: url("/images/building/depot.png");
            }

            .surface-content.building-excavator{
                background-image: url("/images/building/excavator.png");
            }

            .surface-content.building-house{
                background-image: url("/images/building/house.png");
            }

            .surface-content.building-sawmill{
                background-image: url("/images/building/sawmill.png");
            }

            .surface-content.building-solar_panel{
                background-image: url("/images/building/solar_panel.png");
            }

            .surface-content.building-water_pump{
                background-image: url("/images/building/water_pump.png");
            }

            .surface-content.building-water_tower{
                background-image: url("/images/building/water_tower.png");
            }